@import "variables.scss";
body{
    font-size: 2.4rem;
    font-family: 'NotoSansJP-Regular', sans-serif;
    color: #000;
    background-color: #3a3a3a;
    display: block;
    width: 5732px;
    height: 14920px;
}
