@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Just+Another+Hand&family=Rock+Salt&family=Shadows+Into+Light&family=Zen+Old+Mincho&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Just+Another+Hand&family=Rancho&family=Rock+Salt&family=Shadows+Into+Light&family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Just+Another+Hand&family=Noto+Serif+JP:wght@500&family=Rancho&family=Rock+Salt&family=Shadows+Into+Light&family=Zen+Old+Mincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


