/* backgroud-color */
$colors:(
    nav:rgb(151, 149, 149),
    test:#fff,
    testBlue:rgb(140, 140, 245),
    testYellow:#f3e074 ,
    mainBG1:#FBC31F,
    mainBG2:#8B53FF
    
    
);
$navColor:rgb(20, 19, 19);
$BodyColor:#FBB61F;
$MainMenuColor:rgb(236, 26, 89);
$SideMenuColor:rgb(231, 47, 216);
$ToppingColor:rgb(114, 34, 243);
$ConceptColor:rgb(55, 34, 243);
$NewsColor:rgb(34, 177, 243);
$ServiceColor:rgb(34, 243, 208);
$ContactColor:rgb(93, 243, 34);
$FooterColor:rgb(198, 243, 34);

/* font-color */
$Font_navColor:rgb(20, 19, 19);
$Font_BodyColor:#FBB61F;
$Font_MainMenuColor:rgb(236, 26, 89);
$Font_SideMenuColor:rgb(231, 47, 216);
$Font_ToppingColor:rgb(114, 34, 243);
$Font_ConceptColor:rgb(55, 34, 243);
$Font_NewsColor:rgb(34, 177, 243);
$Font_ServiceColor:rgb(34, 243, 208);
$Font_ContactColor:rgb(93, 243, 34);
$Font_FooterColor:rgb(198, 243, 34);


