@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Just+Another+Hand&family=Rock+Salt&family=Shadows+Into+Light&family=Zen+Old+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Just+Another+Hand&family=Rancho&family=Rock+Salt&family=Shadows+Into+Light&family=Zen+Old+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Just+Another+Hand&family=Noto+Serif+JP:wght@500&family=Rancho&family=Rock+Salt&family=Shadows+Into+Light&family=Zen+Old+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* backgroud-color */
/* font-color */
body {
  font-size: 2.4rem;
  font-family: "NotoSansJP-Regular", sans-serif;
  color: #000;
  background-color: #3a3a3a;
  display: block;
  width: 5732px;
  height: 14920px;
}

svg {
  opacity: 0;
  position: absolute;
  z-index: -999;
  width: 100%;
  height: 100%;
  vertical-align: top;
}

.wapper {
  width: 2560px;
  height: 14920px;
  max-width: 2560px;
  overflow: hidden;
  margin: 0 auto;
}

/* backgroud-color */
/* font-color */
.header {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  max-width: 2560px;
  width: 100%;
}
.header .header-inner {
  display: flex;
  vertical-align: bottom;
}

.header-logo {
  margin-top: 54px;
  margin-left: 50px;
  width: 226px;
  height: 26px;
  fill: #19243c;
}
.header-logo svg {
  width: 100%;
  height: 100%;
}

.header-nav {
  margin-left: auto;
  margin-right: 158px;
  margin-top: 48px;
}
.header-nav ul {
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
}
.header-nav ul li {
  margin-left: 30px;
  padding: 10px;
}
.header-nav ul li svg {
  width: 106px;
  height: 44px;
}

.btn-menu-container {
  max-width: 2560px;
  height: 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.btn-menu {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: 33px;
  right: 50px;
}
.btn-menu .btn-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #19243c;
}
.btn-menu .btn-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 12px;
  margin: auto;
  display: inline-block;
  width: 22px;
  height: 11px;
}
.btn-menu .btn-icon .btn-icon-line-1 {
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  content: "";
  width: 22px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  margin-top: -6px;
}
.btn-menu .btn-icon .btn-icon-line-2 {
  position: absolute;
  left: 0;
  top: 50%;
  display: inline-block;
  content: "";
  width: 22px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  margin-top: 3px;
}
.btn-menu .btn-text {
  position: absolute;
  bottom: 18px;
  left: 0;
  color: #fff;
  width: 114%;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.1em;
  display: inline-block;
  transform: scale(0.9);
  transform-origin: 0 0;
  font-family: "Montserrat", sans-serif;
  transition: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  font-size: 10px;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* backgroud-color */
/* font-color */
.menu {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  z-index: 100;
  pointer-events: none;
}

.menu-bg {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: rgba(25, 36, 60, 0.4);
}

.menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  min-height: 800px;
  height: 100%;
}

.menu-contents {
  transform: translate(100%, 0%);
  position: relative;
  width: 700px;
  height: 100%;
  padding: 160px 100px 0;
  background: #fff;
  border-radius: 50px 0 0 50px;
  overflow: hidden;
}
.menu-contents div {
  position: absolute;
}

/* backgroud-color */
/* font-color */
.main {
  background: #ffb5c3;
  height: 100%;
  width: 100%;
}
.main::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/images/bg-texture.webp) 0 0 repeat;
  background-size: 100px 100px;
  opacity: 0.4;
}

section {
  position: relative;
}

.section-mainVisual {
  z-index: 1;
  width: 5672px;
  height: 800px;
  position: absolute;
  top: 0;
  left: 0;
}
.section-mainVisual .section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 200px);
  background: #ffb5c3;
}
.section-mainVisual .section-inner {
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1160px;
  min-height: 800px;
}
.section-mainVisual .mainVisual-section-heading {
  width: 1160px;
  height: 800px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
}
.section-mainVisual .mainVisual-section-heading .copy {
  color: #19243c;
  font-size: 2rem;
  letter-spacing: 0.09em;
  font-family: "NotoSansJP-Bold", sans-serif;
}
.section-mainVisual .mainVisual-section-heading .copy span {
  display: inline-flex;
}
.section-mainVisual .mainVisual-section-heading .copy .text-red {
  margin-right: 1px;
  color: #d42f2f;
  letter-spacing: 0;
  align-items: flex-end;
  font-family: "NotoSansJP-Black", sans-serif;
  vertical-align: bottom;
}
.section-mainVisual .mainVisual-section-heading .heading {
  position: relative;
  display: block;
  width: 768px;
  height: 272px;
  margin-left: 6px;
  margin-top: 38px;
  fill: #19243c;
}
.section-mainVisual .mainVisual-section-heading .heading span {
  position: absolute;
}

.mainVisual-section-heading .copy .text-red span:nth-child(1) {
  font-size: 3.8rem;
}

.mainVisual-section-heading .copy .text-red span:nth-child(2) {
  margin-left: -4px;
  margin-bottom: -7px;
  font-size: 3rem;
}

.mainVisual-section-heading .copy .text-red span:nth-child(3) {
  margin-left: -4px;
  margin-bottom: 2px;
  font-size: 2.4rem;
}

.mainVisual-section-heading .heading .text-m {
  top: 0;
  left: 0;
  width: 139px;
  height: 129px;
}
.mainVisual-section-heading .heading .text-m svg {
  width: 100%;
  height: 100%;
  vertical-align: top;
}/*# sourceMappingURL=style.css.map */